---
title: "Confirm your email address"
preheader: "Please confirm your email address in order to activate your account."
bodyClass: bg-slate-100
---

<x-main>
  <div class="min-h-screen font-sans bg-slate-100 sm:px-4">
    <table align="center" class="">
      <tr>
        <td class="w-[552px] max-w-full h-screen">
          <table class="w-full">
            <tr>
              <td
                class="p-12 text-base bg-white rounded shadow-sm sm:px-6 text-slate-700"
              >
                <h1
                  class="m-0 mb-6 text-4xl font-semibold text-black sm:leading-8"
                >
                  Hello, {{first_name}}
                </h1>

                <p class="m-0 leading-6">
                  Please confirm your email address by clicking the button
                  below:
                </p>

                <x-spacer height="56px" />

                <a
                  href="{{confirm_link}}"
                  class="bg-[#cc2936] no-underline p-5 ease-in-out transition-all duration-200 rounded-md text-white font-semibold hover:bg-[#b21f26] border-none focus:outline-none focus:ring-2 focus:ring-[#cc2936] focus:ring-opacity-50"
                >
                  Confirm email address &nbsp; &rarr;
                </a>

                <p class="mt-8 text-sm">
                  If you didn't sign up for
                  <a href="" class="text-[#cc2936] no-underline hover:underline"
                    >PalitasPR</a
                  >, you can safely ignore this email.
                  <br />
                  <br />
                </p>
                <p class="flex justify-start w-full mt-4 text-md">
                  Thanks, <br />PalitasPR Team
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12">&zwj;</td>
            </tr>
            <tr>
              <!-- <td class="px-6 text-xs text-center text-slate-600"> -->
              <!-- <p class="m-0 mb-4 uppercase">Powered by Maizzle</p> -->

              <!-- <p class="m-0 italic">
                  Quickly build HTML emails with Tailwind CSS
                </p> -->

              <!-- <p class="cursor-default">
                  <a
                    href="https://maizzle.com/docs/"
                    class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]"
                    >Docs</a
                  >
                  &bull;
                  <a
                    href="https://github.com/maizzle"
                    class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]"
                    >Github</a
                  >
                  &bull;
                  <a
                    href="https://twitter.com/maizzlejs"
                    class="text-indigo-700 [text-decoration:none] hover:![text-decoration:underline]"
                    >Twitter</a
                  >
                </p> -->
              <!-- </td> -->
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
