@tailwind base;
@tailwind components;
@tailwind utilities;

.element::-webkit-scrollbar {
  width: 0 !important;
}
.element {
  overflow: -moz-scrollbars-none;
}

.element {
  -ms-overflow-style: none;
}
