/* Import FontAwesome */
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
@import "daisyui/dist/full.css";

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
.element::-webkit-scrollbar {
  width: 0 !important;
}
.element {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none; /* IE and Edge */
}