{# {% extends 'base.html'%} {% block content %} {% endblock %} #} {# base
  template for rendering header, content and footer type blocks #} {% import
  '_macros.html' as macros %}
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <script src="https://cdn.tailwindcss.com"></script>
      <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
      <div id="app" class="h-svh flex flex-col justify-between bg-slate-200">
        {{ macros.header() }} {{ macros.signup() }} {{ macros.footer() }}
      </div>
      <script src="../static/index.js"></script>
    </body>
  </html>