<!-- HEADER -->
{% macro header() %}
<header
  class="p-4 text-gray-100 bg-gray-800 dark:bg-gray-100 dark:text-gray-800"
>
  <div class="container flex justify-between h-16 mx-auto">
    <a
      rel="noopener noreferrer"
      href="#"
      aria-label="Back to homepage"
      class="flex items-center p-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 32 32"
        class="w-8 h-8 text-violet-400 dark:text-violet-600"
      >
        <path
          d="M27.912 7.289l-10.324-5.961c-0.455-0.268-1.002-0.425-1.588-0.425s-1.133 0.158-1.604 0.433l0.015-0.008-10.324 5.961c-0.955 0.561-1.586 1.582-1.588 2.75v11.922c0.002 1.168 0.635 2.189 1.574 2.742l0.016 0.008 10.322 5.961c0.455 0.267 1.004 0.425 1.59 0.425 0.584 0 1.131-0.158 1.602-0.433l-0.014 0.008 10.322-5.961c0.955-0.561 1.586-1.582 1.588-2.75v-11.922c-0.002-1.168-0.633-2.189-1.573-2.742zM27.383 21.961c0 0.389-0.211 0.73-0.526 0.914l-0.004 0.002-10.324 5.961c-0.152 0.088-0.334 0.142-0.53 0.142s-0.377-0.053-0.535-0.145l0.005 0.002-10.324-5.961c-0.319-0.186-0.529-0.527-0.529-0.916v-11.922c0-0.389 0.211-0.73 0.526-0.914l0.004-0.002 10.324-5.961c0.152-0.090 0.334-0.143 0.53-0.143s0.377 0.053 0.535 0.144l-0.006-0.002 10.324 5.961c0.319 0.185 0.529 0.527 0.529 0.916z"
        ></path>
        <path
          d="M22.094 19.451h-0.758c-0.188 0-0.363 0.049-0.515 0.135l0.006-0.004-4.574 2.512-5.282-3.049v-6.082l5.282-3.051 4.576 2.504c0.146 0.082 0.323 0.131 0.508 0.131h0.758c0.293 0 0.529-0.239 0.529-0.531v-0.716c0-0.2-0.11-0.373-0.271-0.463l-0.004-0.002-5.078-2.777c-0.293-0.164-0.645-0.26-1.015-0.26-0.39 0-0.756 0.106-1.070 0.289l0.010-0.006-5.281 3.049c-0.636 0.375-1.056 1.055-1.059 1.834v6.082c0 0.779 0.422 1.461 1.049 1.828l0.009 0.006 5.281 3.049c0.305 0.178 0.67 0.284 1.061 0.284 0.373 0 0.723-0.098 1.027-0.265l-0.012 0.006 5.080-2.787c0.166-0.091 0.276-0.265 0.276-0.465v-0.716c0-0.293-0.238-0.529-0.529-0.529z"
        ></path>
      </svg>
    </a>
    <!-- <ul class="items-stretch hidden space-x-3 lg:flex">
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="#"
          class="flex items-center px-4 -mb-1 border-b-2 dark:border- text-violet-400 dark:text-violet-600 border-violet-400 dark:border-violet-600"
          >Link</a
        >
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="#"
          class="flex items-center px-4 -mb-1 border-b-2 dark:border-"
          >Link</a
        >
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="#"
          class="flex items-center px-4 -mb-1 border-b-2 dark:border-"
          >Link</a
        >
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          href="#"
          class="flex items-center px-4 -mb-1 border-b-2 dark:border-"
          >Link</a
        >
      </li>
    </ul> -->
    <div class="items-center flex-shrink-0 hidden lg:flex">
      <button class="self-center px-8 py-3 rounded">Sign in</button>
      <button
        class="self-center px-8 py-3 font-semibold text-gray-900 rounded bg-violet-400 dark:bg-violet-600 dark:text-gray-50"
      >
        Sign up
      </button>
    </div>
    <button class="p-4 lg:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        class="w-6 h-6 text-gray-100 dark:text-gray-800"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </button>
  </div>
</header>
{% endmacro %}

<!-- MAIN -->
{% macro main() %} {% endmacro %}

<!-- SEARCHBAR -->
{% macro searchbar() %}
<div class="flex flex-wrap justify-center w-full space-x-1 space-y-1">
  <label for="Search" class="hidden">Search</label>
  <input
    type="search"
    name="search"
    placeholder="Search..."
    id="search"
    class="px-3 py-4 text-gray-100 bg-gray-900 border border-gray-700 rounded-md w-fit basis-1 dark:border-gray-300 dark:bg-gray-50 dark:text-gray-800"
  />
  <button
    type="submit"
    class="px-4 py-2 rounded-md bg-violet-400 basis-1/4"
    onclick=""
  >
    Enter
  </button>
</div>
{% endmacro %}

<!-- SEARCHBAR PAGE -->
{% macro searchbar_page() %}
<div class="flex flex-col w-full h-full">
  <div
    class="flex flex-col items-center justify-center h-full p-10 m-auto font-semibold text-center sm:rounded-md sm:shadow-lg sm:h-fit md:max-w-lg"
  >
    <h1 class="text-3xl text-slate-700">What do you have in mind?</h1>
    <p class="text-sm text-slate-600">
      Search to your hearts content and find the service you need!
    </p>
    <br />
    {{ searchbar() }}
  </div>
  <div id="user-list"></div>
</div>
{% endmacro %}

<!-- SIGNUP -->
{% macro signup() %}
<div
  id="signup"
  class="flex flex-col w-full h-full p-6 text-gray-100 transition-all duration-300 bg-gray-900 sm:p-10 dark:bg-gray-50 dark:text-gray-800"
>
  <form
    hx-post="/create_object"
    hx-swap="outerHTML"
    novalidate=""
    action=""
    class="max-w-md m-auto space-y-12"
  >
    <div class="mb-8 text-center">
      <h1 class="my-3 text-4xl font-bold">Sign up</h1>
      <p class="text-sm text-gray-400 dark:text-gray-600">Create an account</p>
    </div>
    <div class="space-y-4">
      <div>
        <label for="first_name" class="block mb-2 text-sm">First Name</label>
        <input
          type="text"
          name="first_name"
          id="first_name"
          placeholder="First Name"
          required
          class="w-full px-3 py-2 text-gray-100 bg-gray-900 border border-gray-700 rounded-md dark:border-gray-300 dark:bg-gray-50 dark:text-gray-800"
        />
      </div>
      <div>
        <label for="last_name" class="block mb-2 text-sm">Last Name</label>
        <input
          type="text"
          name="last_name"
          id="last_name"
          placeholder="last_name"
          class="w-full px-3 py-2 text-gray-100 bg-gray-900 border border-gray-700 rounded-md dark:border-gray-300 dark:bg-gray-50 dark:text-gray-800"
          required
        />
      </div>
      <div>
        <label for="email" class="block mb-2 text-sm">Email address</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="user@email.com"
          class="w-full px-3 py-2 text-gray-100 bg-gray-900 border border-gray-700 rounded-md dark:border-gray-300 dark:bg-gray-50 dark:text-gray-800"
          required
        />
      </div>
      <div>
        <div class="flex justify-between mb-2">
          <label for="password" class="text-sm">Password</label>
          <a
            rel="noopener noreferrer"
            href="#"
            class="text-xs text-gray-400 hover:underline dark:text-gray-600"
            >Forgot password?</a
          >
        </div>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="************"
          class="w-full px-3 py-2 text-gray-100 bg-gray-900 border border-gray-700 rounded-md dark:border-gray-300 dark:bg-gray-50 dark:text-gray-800"
          required
        />
      </div>
    </div>
    <div class="space-y-2">
      <div>
        <button
          type="submit"
          class="w-full px-8 py-3 font-semibold text-gray-900 rounded-md bg-violet-400 dark:bg-violet-600 dark:text-gray-50"
        >
          Sign up
        </button>
      </div>
      <p class="px-6 text-sm text-center text-gray-400 dark:text-gray-600">
        Already have an account?
        <a
          hx-get="/login"
          hx-target="#signup"
          hx-swap="outerHTML"
          rel="noopener noreferrer"
          href="#"
          class="hover:underline text-violet-400 dark:text-violet-600"
          >Log in</a
        >.
      </p>
    </div>
  </form>
</div>
{% endmacro %}

<!-- LOGIN -->
{% macro login() %}
<div
  id="login"
  class="flex flex-col w-full h-full p-6 text-gray-100 bg-gray-900 sm:p-10 dark:bg-gray-50 dark:text-gray-800"
>
  <div class="mb-8 text-center">
    <h1 class="my-3 text-4xl font-bold">Log in</h1>
    <p class="text-sm text-gray-400 dark:text-gray-600">
      Log in to access your account
    </p>
  </div>
  <form
    novalidate=""
    hx-post="/login"
    hx-swap="outerHTML"
    class="max-w-md m-auto space-y-12"
  >
    <div class="space-y-4">
      <div>
        <label for="email" class="block mb-2 text-sm">Email address</label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="user@email.com"
          class="w-full px-3 py-2 text-gray-100 bg-gray-900 border border-gray-700 rounded-md dark:border-gray-300 dark:bg-gray-50 dark:text-gray-800"
        />
      </div>
      <div>
        <div class="flex justify-between mb-2">
          <label for="password" class="text-sm">Password</label>
          <a
            rel="noopener noreferrer"
            href="#"
            class="text-xs text-gray-400 hover:underline dark:text-gray-600"
            >Forgot password?</a
          >
        </div>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="************"
          class="w-full px-3 py-2 text-gray-100 bg-gray-900 border border-gray-700 rounded-md dark:border-gray-300 dark:bg-gray-50 dark:text-gray-800"
        />
      </div>
    </div>
    <div class="space-y-2">
      <div>
        <button
          type="submit"
          class="w-full px-8 py-3 font-semibold text-gray-900 rounded-md bg-violet-400 dark:bg-violet-600 dark:text-gray-50"
        >
          Log in
        </button>
      </div>
      <p class="px-6 text-sm text-center text-gray-400 dark:text-gray-600">
        Don't have an account yet?
        <a
          hx-get="/signup"
          hx-target="#login"
          hx-swap="outerHTML"
          rel="noopener noreferrer"
          href="#"
          class="hover:underline text-violet-400 dark:text-violet-600"
          >Sign up</a
        >.
      </p>
    </div>
  </form>
</div>
{% endmacro %}

<!-- FOOTER -->
{% macro footer() %}
<footer
  class="px-4 py-8 text-gray-400 bg-gray-800 dark:bg-gray-100 dark:text-gray-600"
>
  <div
    class="container flex flex-wrap items-center justify-center mx-auto space-y-4 sm:justify-between sm:space-y-0"
  >
    <div class="flex flex-row pr-3 space-x-4 sm:space-x-8">
      <div
        class="flex items-center justify-center flex-shrink-0 w-12 h-12 rounded-full bg-violet-400 dark:bg-violet-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 32 32"
          fill="currentColor"
          class="w-5 h-5 text-gray-900 rounded-full dark:text-gray-50"
        >
          <path
            d="M18.266 26.068l7.839-7.854 4.469 4.479c1.859 1.859 1.859 4.875 0 6.734l-1.104 1.104c-1.859 1.865-4.875 1.865-6.734 0zM30.563 2.531l-1.109-1.104c-1.859-1.859-4.875-1.859-6.734 0l-6.719 6.734-6.734-6.734c-1.859-1.859-4.875-1.859-6.734 0l-1.104 1.104c-1.859 1.859-1.859 4.875 0 6.734l6.734 6.734-6.734 6.734c-1.859 1.859-1.859 4.875 0 6.734l1.104 1.104c1.859 1.859 4.875 1.859 6.734 0l21.307-21.307c1.859-1.859 1.859-4.875 0-6.734z"
          ></path>
        </svg>
      </div>
      <ul class="flex flex-wrap items-center space-x-4 sm:space-x-8">
        <li>
          <a rel="noopener noreferrer" href="#">Terms of Use</a>
        </li>
        <li>
          <a rel="noopener noreferrer" href="#">Privacy</a>
        </li>
      </ul>
    </div>
    <ul class="flex flex-wrap pl-3 space-x-4 sm:space-x-8">
      <li>
        <a rel="noopener noreferrer" href="#">Instagram</a>
      </li>
      <li>
        <a rel="noopener noreferrer" href="#">Facebook</a>
      </li>
      <li>
        <a rel="noopener noreferrer" href="#">Twitter</a>
      </li>
    </ul>
  </div>
</footer>
{% endmacro %}